* {
    margin: 0 auto;
}
body {
    padding: 5px;
    background-image: url(https://i.kym-cdn.com/entries/icons/facebook/000/047/760/dt.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
body::-webkit-scrollbar {
    display: none;
}
.container {
    border: 1px solid whitesmoke;
    border-radius: 7.5px;
    padding: 5px;
    width: 97%;
    max-width: 1000px;
    -webkit-border-radius: 7.5px;
    -moz-border-radius: 7.5px;
    -ms-border-radius: 7.5px;
    -o-border-radius: 7.5px;
    box-shadow: var(--dark-big-boxshadow);
}
.title4Ct {
    width: 100%;
    font-size: xx-large;
    text-align: center;
    border-bottom: 1px solid whitesmoke;
}
.gapbtw {
    padding: 5px 0px;
}
.card {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.card > * {
    box-shadow: var(--boxshadow);
    text-decoration: none;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    max-width: 450px;
    width: 98%;
    padding: 7px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition:ease-in-out 250ms;
    -webkit-transition:ease-in-out 250ms;
    -moz-transition:ease-in-out 250ms;
    -ms-transition:ease-in-out 250ms;
    -o-transition:ease-in-out 250ms;
}
.card > *:hover {
    box-shadow: var(--super-dark-boxshadow);
    transform:translateY(-2px);
    -webkit-transform:translateY(-2px);
    -moz-transform:translateY(-2px);
    -ms-transform:translateY(-2px);
    -o-transform:translateY(-2px);
    background-image: linear-gradient(to right, #348F50 0%, #56B4D3  51%, #348F50  100%);
}