* {
    margin: 0 auto;
}
body {
    padding: 5px;
    background-image: url(/pic/toothles.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    user-select: none;
}
body::-webkit-scrollbar {
    display: none;
}
.container {
    border: 1px solid whitesmoke;
    border-radius: 7.5px;
    padding: 5px;
    width: 97%;
    max-width: 1000px;
    -webkit-border-radius: 7.5px;
    -moz-border-radius: 7.5px;
    -ms-border-radius: 7.5px;
    -o-border-radius: 7.5px;
    box-shadow: var(--dark-big-boxshadow);
}
.specialCT {
    display: flex;
    flex-wrap: wrap;
    border: none !important;
    box-shadow: none;
    gap: 5px;
}
.specialCT * {
    max-width: 350px;
    width: 100%;
    text-align: center;
    padding: 5px 50px;
    box-shadow: var(--boxshadow);
    border: 1px solid whitesmoke;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.vp {
    visibility: hidden;
    display: flex;
    position: fixed;
    align-self: center;
    flex-direction: column;
    width: 80%;
    top: 2%;
    padding: 15px 10px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    z-index: 10;
    box-shadow: var(--dark-big-boxshadow);
}
.vp img {
    max-width: 1150px;
    width: 100%;
    max-height: 90%;
    box-shadow: var(--boxshadow);
}
.vp span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}
.vp span:nth-child(2) i {
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: var(--boxshadow);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.floatin {
    animation: floatin both 250ms;
    -webkit-animation: floatin both 250ms;
}
.floatout {
    animation: floatout both 250ms;
    -webkit-animation: floatout both 250ms;
}
@keyframes floatin {
    from {
        top: -100%;
        opacity: 0;
    }
}
@keyframes floatout {
    to {
        top: -100%;
        opacity: 0;
    }
}
.title4Ct {
    width: 100%;
    font-size: xx-large;
    text-align: center;
    border-bottom: 1px solid whitesmoke;
}
.gapbtw {
    padding: 5px 0px;
}
.freecard {
    display: flex;
    flex-wrap: wrap;
    align-items: first baseline;
    gap: 5px;
}
.freecard > * {
    border: 1px solid whitesmoke;
    border-radius: 5px;
    text-align: center;
    padding: 5px 50px;
    box-shadow: var(--boxshadow);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 0 !important;
}
.pop {
    position: relative;
    display: inline-block;
}
.pop .poptext {
    visibility: hidden;
    background: #DCE35B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    bottom: 115%;
    left: 50%;
    margin-left: -60px;
} 
.pop .poptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #45B649 transparent transparent transparent;
} 
.pop:hover .poptext {
    visibility: visible;
    animation: fadein both 100ms;
    -webkit-animation: fadein both 200ms;
}
@keyframes fadein {
    from {
        margin-bottom: -10px;
        opacity: 0;
    }
}
.card {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.card > * {
    box-shadow: var(--boxshadow);
    text-decoration: none;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    max-width: 450px;
    width: 98%;
    padding: 7px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition:ease-in-out 250ms;
    -webkit-transition:ease-in-out 250ms;
    -moz-transition:ease-in-out 250ms;
    -ms-transition:ease-in-out 250ms;
    -o-transition:ease-in-out 250ms;
}
.card > *:hover {
    box-shadow: var(--super-dark-boxshadow);
    transform: translateY(-3px) scaleX(1.025) scaleY(1.015);
    background-image: linear-gradient(to right, #348F50 0%, #56B4D3  51%, #348F50  100%);
    -webkit-transform: translateY(-3px) scaleX(1.025) scaleY(1.015);
    -moz-transform: translateY(-3px) scaleX(1.025) scaleY(1.015);
    -ms-transform: translateY(-3px) scaleX(1.025) scaleY(1.015);
    -o-transform: translateY(-3px) scaleX(1.025) scaleY(1.015);
}
.blurOverflow {
    overflow: hidden;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}