/* REQUIR */
* {
    padding: 0;
    margin: 0;
    color: white;
}
body {
    background-color: rgb(45, 45, 45);
    padding-inline: 5px;
}
/* FONT */
p, a, ol, li, button {
    font-family: Comic;
    font-size: 25px;
}
p, a {
    color: whitesmoke;
}

/* LAOD PAGE */
#out-loader {
    display: block;
    background-color: #000000;
}
#loader {
    background-color: rgb(45, 45, 45);
    position: absolute;
    left: 50%;
    top: 45%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #393939;
    border-radius: 50%;
    border-top: 16px solid #ffffff;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
}
@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}
@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}
#in-loader {
    display: none;
    color: black;
}
p {
    font-size: 22px;
}
.container {
    border: 2px solid rgb(132, 132, 132);
    border-radius: 2.5px;
    padding: 5px;
}