body {
    user-select: none;
}
.ctent {
    border: 3px solid rgb(112, 245, 79);
    border-radius: 3.5px;
    padding: 5px;
}
.ctent > :nth-child(1) {
    display: flex;
    justify-content: center;
    border-bottom: 1.2px solid rgb(16, 245, 16);
}