ErrorDocument 404 https://fnsurvival.github.io/404

<ifModule mod_rewrite.c>

#turn on .htaccess config
RewriteEngine On 

#Hide all php extentions
RewriteCond %{REQUEST_FILENAME} !-d 

RewriteCond %{REQUEST_FILENAME}\.php -f

RewriteRule ^(.*)$ $1.php [NC, L]

RewriteRule ^(.*)$ $1.html [NC, L]

RewriteRule ^([0-9]+).mp4 /index.html [QSA,L]

</ifModule>

<IfModule mod_mime.c>

    AddDefaultCharset utf-8

</IfModule>
