# ==== Error page ====
ErrorDocument 404 https://fnsurvival.github.io/404

# ==== Enable Rewrite ====
RewriteEngine On
RewriteOptions inherit

# ==== Bỏ qua thư mục _cuahangMC ====
RewriteCond %{REQUEST_URI} ^/_cuahangMC/.* [NC]
RewriteRule ^ - [L]

# ==== Rewrite .php ====
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]

# ==== Rewrite .html ====
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [L]

# ==== Rewrite .htm ====
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.htm -f
RewriteRule ^(.*)$ $1.htm [L]

# ==== Redirect root to index.html ====
RewriteCond %{REQUEST_URI} ^/?$ 
RewriteRule ^$ index.html [R=301,L]
