* {
    padding: 0;
    margin: 0;
}
div::-webkit-scrollbar-track, textarea::-webkit-scrollbar-track {
    display: none !important;
}
div::-webkit-scrollbar, textarea::-webkit-scrollbar {
	display: none;
}
div::-webkit-scrollbar-thumb, textarea::-webkit-scrollbar-thumb {
	border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
.container {
    padding: 15px;
    border: 1px solid whitesmoke;
    width: 150vh;
    margin: auto;
}
.tab {
    background-color: #424242;
    color: #ffffff;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-bottom: 10px;
    width: 800px;
}
.active, .tab:hover {
    background-color: #666666;
}
.tab:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2212";
}
.mnsh {
    padding-inline: 5px;
    max-height: 0;
    background-color: rgb(0, 0, 0);
    overflow: auto;
    text-align: left;
    width: 800px;
    height: 60px;
    transition: max-height 0.2s ease-out;
    -webkit-transition: max-height 0.2s ease-out;
    -moz-transition: max-height 0.2s ease-out;
    -ms-transition: max-height 0.2s ease-out;
    -o-transition: max-height 0.2s ease-out;
}
button {
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
@media (max-width:820px) {
    .container {
        padding: 15px;
        border: 1px solid whitesmoke;
        width: auto;
        margin: auto;
    }
    .tab {
        background-color: #424242;
        color: #ffffff;
        cursor: pointer;
        padding: 10px;
        width: 100%;
        border: none;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        margin-bottom: 10px;
        width: auto;
        font-size: 27px;
    }
    button {
        font-family: 'Oswald', sans-serif;
        cursor: pointer;
        background-color: transparent;
        outline: none;
        border: 1px solid whitesmoke;
        border-radius: 5px;
        padding: 10px;
        font-size: 27px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .mnsh {
        padding-inline: 5px;
        max-height: 0;
        background-color: rgb(0, 0, 0);
        overflow: auto;
        text-align: left;
        width: auto;
        height: 60px;
        font-size: 25px;
        transition: max-height 0.2s ease-out;
        -webkit-transition: max-height 0.2s ease-out;
        -moz-transition: max-height 0.2s ease-out;
        -ms-transition: max-height 0.2s ease-out;
        -o-transition: max-height 0.2s ease-out;
    }
}
@media (min-width:820px) {
    .container {
        padding: 15px;
        border: 1px solid whitesmoke;
        width: auto;
        margin: auto;
    }
    .tab {
        background-color: #424242;
        color: #ffffff;
        cursor: pointer;
        padding: 10px;
        width: 100%;
        border: none;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        margin-bottom: 10px;
        width: auto;
        font-size: 35px;
    }
    button {
        font-family: 'Oswald', sans-serif;
        cursor: pointer;
        background-color: transparent;
        outline: none;
        border: 1px solid whitesmoke;
        border-radius: 5px;
        padding: 10px;
        font-size: 35px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .mnsh {
        padding-inline: 5px;
        max-height: 0;
        background-color: rgb(0, 0, 0);
        overflow: auto;
        text-align: left;
        width: auto;
        height: 60px;
        font-size: 25px;
        transition: max-height 0.2s ease-out;
        -webkit-transition: max-height 0.2s ease-out;
        -moz-transition: max-height 0.2s ease-out;
        -ms-transition: max-height 0.2s ease-out;
        -o-transition: max-height 0.2s ease-out;
    }
}
@media (min-width:1300px) {
    .container {
        padding: 15px;
        border: 1px solid whitesmoke;
        width: 200vh !important;
        margin: auto;
    }
    .tab {
        background-color: #424242;
        color: #ffffff;
        cursor: pointer;
        padding: 10px;
        width: 1100px !important;
        border: none;
        outline: none;
        font-size: 25px;
        transition: 0.4s;
        margin-bottom: 10px;
        width: auto;
    }
    button {
        font-family: 'Oswald', sans-serif;
        cursor: pointer;
        background-color: transparent;
        outline: none;
        border: 1px solid whitesmoke;
        border-radius: 5px;
        padding: 10px;
        font-size: 25px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .mnsh {
        padding-inline: 5px;
        max-height: 0;
        background-color: rgb(0, 0, 0);
        overflow: auto;
        text-align: left;
        width: 1100px;
        font-size: 23px;
        height: 60px;
        transition: max-height 0.2s ease-out;
        -webkit-transition: max-height 0.2s ease-out;
        -moz-transition: max-height 0.2s ease-out;
        -ms-transition: max-height 0.2s ease-out;
        -o-transition: max-height 0.2s ease-out;
    }
}