:root {
    --boxshadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;
    --sm-boxshadow: rgba(0, 0, 0, 0.781) 0px 0px 10px;
    --dark-big-boxshadow: rgb(0, 0, 0) 0px 0px 15px;
    --super-dark-boxshadow: rgb(0, 0, 0) 0px 0px 10px;
    --superXbigger-dark-boxshadow: rgb(0, 0, 0) 0px 0px 50px;
    --white-boxshadow: rgba(189, 189, 189, 0.829) 0px 0px 10px;
}
.amargin {
    margin: auto;
}
.center-text {
    text-align: center !important;
}
.cursor {
    cursor: pointer !important;
}
.div95 {
    width: 95% !important;
}
.div90 {
    width: 90% !important;
}
.div85 {
    width: 85% !important;
}
.div80 {
    width: 80% !important;
}
.div70 {
    width: 70% !important;
}
.div65 {
    width: 65% !important;
}
.div60 {
    width: 60% !important;
}