@import url(../root/rt.css);

h1,
h2,
h3,
h4,
h5,
h6,
a,
div,
::placeholder,
div,
p,
button,
input,
li,
ol,
option,
select,
textarea,
label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
}

@font-face {
    font-family: IntoRrust;
    src: url(../root/introrustg-base2line-webfont.woff);
}
