.container {
    padding: 5px;
    max-width: auto;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
@media (max-width:1750px) {
    .container {
        max-width: 1900px !important;
    }
    .dienvien {
        float: left !important;
    }
    .video {
        width: 100% !important;
        max-width: 2000px !important;
    }
}
.dienvien {
    float: right;
    width: 100%;
    max-width: 600px;
}
video {
    width: 100%;
    max-width: 1200px;
}