.container2 {
    margin: auto;
    padding: 15px;
    box-shadow: var(--superXbigger-dark-boxshadow);
    border-radius: 7px;
    height: auto;
    max-width: 1130px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.container {
    height: 850px !important;
    margin: auto;
    padding: 15px;
    box-shadow: var(--superXbigger-dark-boxshadow);
    border-radius: 7px;
    height: auto;
    max-width: 1130px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
video {
    width: 100%;
    height: 94.5%;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: 15px;
    width: 100%;
    max-width: 550px;
    box-shadow: var(--boxshadow);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    } to {
        top: 0;
        opacity: 1
    }
}
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    } to {
        top: 0;
        opacity: 1
    }
}
.modal-header {
    height: 50px;
    padding: 2px 16px;
    background-color: rgb(45, 45, 45);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    color: white;
}
.modal-body {
    background-color: rgb(65, 63, 63);
    padding: 2px 16px;
}
.modal-footer {
    height: 50px;
    width: auto;
    padding: 2px 16px;
    background-color: rgb(45, 45, 45);
    color: white;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.close {
    position: absolute;
    right: 20px;
    cursor: pointer;
    padding-left: 20px;
    font-size: 25px;
    bottom: 10px;
    transition:ease-in all 250ms;
    -webkit-transition:ease-in all 250ms;
    -moz-transition:ease-in all 250ms;
    -ms-transition:ease-in all 250ms;
    -o-transition:ease-in all 250ms;
}
.close:hover {
    transform: rotateZ(50deg);
    -webkit-transform: rotateZ(50deg);
    -moz-transform: rotateZ(50deg);
    -ms-transform: rotateZ(50deg);
    -o-transform: rotateZ(50deg);
}
#moptbt {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 2px;
    height: 50px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(68, 68, 68);
    box-shadow: var(--super-dark-boxshadow);
    color: white;
    cursor: pointer;
    padding: 15px;
    padding-left: 18.2px;
    padding-right: 18.2px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}