#userInfo {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

#userInfo span {
    padding: 5px 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

#userDropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    min-width: 150px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1000;
}

#userDropdown a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #333;
}

#userDropdown a:hover {
    background-color: #f0f0f0;
}


.form_napthe {
    max-width: 500px;
    width: 99%;
    margin: auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}