* {
    padding: 0;
    margin: 0;
}
.container {
    text-align: center;
    margin: auto;
    width: 370px;
    padding: 5px;
    border: 1px solid whitesmoke;
    border-radius: 2px;
}
.input {
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid whitesmoke;
    padding: 10px;
    width: 320px;
    font-size: 20px;
    background-color: rgb(36, 36, 36);
}
@media (max-width: 950px) {
    .container {
        width: 400px;
    }
}
@media (max-width: 350px) {
    .container {
        text-align: center;
        margin: auto;
        width: 97%;
        padding: 5px;
        border: 1px solid whitesmoke;
        border-radius: 2px;
    }
    .input {
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 1px solid whitesmoke;
        padding: 10px;
        width: 93%;
        font-size: 20px;
        background-color: rgb(36, 36, 36);
    } 
}
@media (max-width: 400px) {
    .container {
        width: 350px;
    }
}
.submit {
    background-color: transparent;
    border: 1px solid whitesmoke;
    border-radius: 2px;
    padding: 10px;
    width: 200px;
    font-size: 20px;
    cursor: pointer;
}
::placeholder {
    font-size: 20px;
    color: rgb(182, 180, 180);
}