.container {
    max-width: 500px;
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: center;
    border: 1px solid whitesmoke;
    border-radius: 5px;
}
.container > form > div {
    padding: 10px !important;
}
.container > form > div > label {
    font-size: 20px;
    color: rgb(189, 240, 173);
}
select, option {
    background-color: rgb(51, 51, 51);
    outline: none;
    padding: 7.5px 10px;
    border-radius: 5px;
    font-size: 20px !important;
    width: 100%;
}
option {
    box-shadow: rgba(189, 189, 189, 0.829) 0px 0px 5px !important;
}
input {
    background-color: rgb(51, 51, 51);
    outline: none;
    padding: 7.5px 10px;
    border-radius: 5px;
    font-size: 20px;
    border: 1px solid rgb(110, 110, 110);
}
input::placeholder {
    font-size: 18px;
}
input[type="submit"] {
    font-size: 25px;
}